# User ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
[user]
	name = gabrieluizramos
	email = gabriel.luiz.ramos@gmail.com

[credential]
	helper = osxkeychain

# Workflow ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
[core]
	editor = code --wait
	ignorecase = false

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[pull]
	default = current
	ff = only

[push]
	default = current

[merge]
  tool = vscode

[mergetool "vscode"]
  cmd = code --wait $MERGED

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

# Custom ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
[alias]
  # Last commit's diff
  last = diff HEAD^ HEAD
  # Clean file and folders
  clear = "! git checkout . && git clean -fd"
  # Get current branch name
  current = "! git rev-parse --abbrev-ref HEAD"
  # Erase all branches except master, main, develop and current branch
  erase = "! git branch | grep -v master | grep -v main | grep -v develop | grep -v $(git current) | xargs git branch -D"
  # Searches for a given term in the previous changes
  search = "! git diff | grep -i"
  # Return master, pull and erase branches
  home = "! git checkout master && git pull origin master && git erase"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[url "git@github.com:"]
	insteadOf = https://github.com/
