init.author.name=Gabriel Ramos
init.author.email=gabriel.luiz.ramos@gmail.com
init.author.url=https://gabrieluizramos.com.br
//registry.npmjs.org/:_authToken=${LOFT_NPM_AUTH_TOKEN}
//dev.local.com.br:4873/:_authToken=${VERDACCIO_NPM_AUTH_TOKEN}
