init.author.name=Gabriel Ramos
init.author.email=gabriel.luiz.ramos@gmail.com
init.author.url=https://gabrieluizramos.com.br
//registry.npmjs.org/:_authToken=${PLUTO_NPM_REGISTRY_AUTH_TOKEN}
@pluto-tv:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${PLUTO_GITHUB_REGISTRY_AUTH_TOKEN}
