init.author.name=Gabriel Ramos
init.author.email=gabriel.luiz.ramos@gmail.com
init.author.url=http://gabrieluizramos.com.br
//registry.npm.com/:_authToken=${LOFT_NPM_AUTH_TOKEN}
//dev.local.com:4873/:_authToken=${VERDACCIO_NPM_AUTH_TOKEN}
